#footer {
  width: 100%;
  background: #f7f7f7;
}
#footer .container {
  width: 100%;
  max-width: 1710px;
  margin: 0 auto;
}
#footer .container .gap {
  width: 100%;
  padding: 50px 0;
}
#footer .container .gap .up {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#footer .container .gap .up .left .row1 h2 {
  color: #1a1a1a;
  font-size: 22px;
  font-weight: 700;
  padding: 0 0 10px 0;
}
#footer .container .gap .up .left .row1 p {
  color: #1a1a1a;
  font-size: 13px;
  line-height: 23px;
}
#footer .container .gap .up .left .row1 .email {
  color: #909090;
  font-size: 13px;
  line-height: 23px;
}
#footer .container .gap .up .left .row2 {
  padding: 40px 0;
  color: #909090;
  font-size: 13px;
  line-height: 25px;
}
#footer .container .gap .up .left .row2 span {
  display: inline-block;
  margin: 0 5px 0 10px;
  width: 1px;
  height: 11px;
  background-size: cover;
  background: url(../img/main/bt_line.png) no-repeat 50% 50%;
}
#footer .container .gap .up .left .row2 a:hover {
  color: #1a1a1a;
}
#footer .container .gap .up .left .row3 {
  display: flex;
  padding: 0 0 30px 0;
}
#footer .container .gap .up .left .row3 .emblem ul {
  display: flex;
}
#footer .container .gap .up .left .row3 .emblem ul li {
  padding: 0 12px 0 0;
}
#footer .container .gap .up .left .row3 .emblem ul li:last-child a {
  padding: 0 12px 0 0;
  display: inline-block;
  border-right: 1px solid #e5e5e5;
}
#footer .container .gap .up .left .row3 .emblem ul li a img {
  width: 40px;
}
#footer .container .gap .up .left .row3 .emblem ul li a .emblem3 {
  width: 51px;
}
#footer .container .gap .up .left .row3 .sns ul {
  display: flex;
}
#footer .container .gap .up .left .row3 .sns ul li {
  padding: 0 12px 0 0;
}
#footer .container .gap .up .right .ul-box {
  display: flex;
}
#footer .container .gap .up .right .ul-box .col {
  padding: 0 0 0 40px;
}
#footer .container .gap .up .right .ul-box .col li {
  height: 30px;
}
#footer .container .gap .up .right .ul-box .col li a {
  display: block;
  text-align: right;
  font-size: 13px;
  color: #606060;
}
#footer .container .gap .up .right .ul-box .col li a:hover {
  color: #000;
}
#footer .container .gap .up .right .ul-box .col li a b {
  font-weight: bold;
}
#footer .container .gap .up .right .btn-box {
  width: 100%;
  padding: 50px 0 0 0;
  display: flex;
  justify-content: flex-end;
}
#footer .container .gap .up .right .btn-box button {
  background: transparent;
  padding: 5px 21px;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  font-size: 13px;
  color: #1a1a1a;
  letter-spacing: -0.6px;
}
#footer .container .gap .up .right .btn-box button img {
  padding: 0 0 2px 10px;
}
#footer .container .gap .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e5e5e5;
  padding: 30px 0 0 0;
}
#footer .container .gap .bottom .b-left p {
  font-size: 13px;
  color: #909090;
}
#footer .container .gap .bottom .b-right ul {
  display: flex;
}
#footer .container .gap .bottom .b-right ul li {
  padding: 0 10px 0 0;
  color: #1a1a1a;
  line-height: 21px;
}
#footer .container .gap .bottom .b-right ul li a {
  height: 100%;
  display: inline-flex;
  font-size: 13px;
  color: #000;
}
#footer .container .gap .bottom .b-right ul li a img {
  width: 21px;
  margin: 0 5px 0 0;
}