#footer{
    width: 100%;
    background: #f7f7f7;
    .container{
        width: 100%;
        max-width: 1710px;
        margin: 0 auto;
        .gap{
            width: 100%;
            padding: 50px 0;
            .up{
                width: 100%;
                display: flex;
                justify-content: space-between;
                .left{
                    .row1{
                        h2{
                            color: #1a1a1a;
                            font-size: 22px;
                            font-weight: 700;
                            padding: 0 0 10px 0;
                        }
                        p{
                            color: #1a1a1a;
                            font-size: 13px;
                            line-height: 23px;
                        }
                        .email{
                            color: #909090;
                            font-size: 13px;
                            line-height: 23px;
                        }
                    }
                    .row2{
                        padding: 40px 0;
                        color: #909090;
                        font-size: 13px;
                        line-height: 25px;
                        span{
                            display: inline-block;
                            margin: 0 5px 0 10px;
                            width: 1px;
                            height: 11px;
                            background-size: cover;
                            background: url(../img/main/bt_line.png) no-repeat 50% 50%;
                        }
                        a{
                            &:hover{
                                color: #1a1a1a;
                            }
                        }
                    }
                    .row3{
                        display: flex;
                        padding: 0 0 30px 0;
                        .emblem{
                         
                            ul{
                                display: flex;
                                li{
                                    padding: 0 12px 0 0;
                                    &:last-child{
                                        a{
                                            padding: 0 12px 0 0;
                                            display: inline-block;
                                            border-right: 1px solid #e5e5e5;
                                        }
                                    }
                                    a{
                                        img{
                                            width: 40px;
                                        }
                                        .emblem3{
                                            width: 51px;
                                        }
                                    }
                                }
                            }
                        }
                        .sns{
                            ul{
                                display: flex;
                                li{
                                    padding: 0 12px 0 0;
                                }
                            }
                        }
                    }
                }
                .right{
                    .ul-box{
                        display: flex;
                        .col{
                            padding: 0 0 0 40px;
                            li{
                                height: 30px;
                                a{
                                    display: block;
                                    text-align: right;
                                    font-size: 13px;
                                    color: #606060;
                                    &:hover{
                                        color: #000;
                                    }
                                    b{
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }
                    .btn-box{width: 100%;
                        padding: 50px 0 0 0;
                        display: flex;
                        justify-content: flex-end;
                        button{
                            background: transparent;
                            padding: 5px 21px;
                            border: 1px solid #e5e5e5;
                            border-radius: 20px;
                            font-size: 13px;
                            color: #1a1a1a;
                            letter-spacing: -0.6px;
                            img{
                                padding: 0 0 2px 10px;
                            }
                        }
                    }
                }
            }
            .bottom{
                width: 100%;
                display: flex;
                justify-content: space-between;
                border-top: 1px solid #e5e5e5;
                padding: 30px 0 0 0;
                .b-left{
                    p{
                        font-size: 13px;
                        color: #909090;
                    }
                }
                .b-right{
                    ul{
                        display: flex;
                        li{
                            padding: 0 10px 0 0;
                            color: #1a1a1a;
                            line-height: 21px;
                            a{
                                height: 100%;
                                display: inline-flex;
                                font-size: 13px;
                                color: #000;
                                img{
                                    width: 21px;
                                    margin: 0 5px 0 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}