#upDown{
 width: 100%;
    #goTop{
        position: fixed;
        z-index: 8;
        right: 40px;
        bottom: 85px;
        width: 45px;
        height: 45px;
        a{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
    #goDown{
        position: fixed;
        z-index: 8;
        right: 40px;
        bottom: 30px;
        width: 45px;
        height: 45px;
        a{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
}