#wrap{
    position: relative;
    #header{
    position: fixed;
    z-index: 10;
    top: auto;
    left: 0;
    width: 100%;
    height: 90px;
    background: transparent;
    .container{
        width: 100%;
        max-width: 1720px;
        margin: 0 auto;
        height: 100%;
        .gap{
            display: flex;
            width: 100%;
            height: 100%;
            .left{
                width: 130px;
                height: 100%;
                .logo{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    a{
                        width: 100%;
                        height: 38px;
                        display: block;
                        img{
                            width: auto;
                        }
                    }
                }
            }
            .center{
                width: 1180px;
                height: 100%;
                padding: 0 0 0 35px;
                >ul{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    >li{
                        height: 100%;
                        margin: 0 20px;
                        >a{
                            position: relative;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #fff;
                            font-size: 16px;
                            font-weight: 600;
                            letter-spacing: -0.6px;
                            padding: 1.5px 0 0 0;
                            &::after{
                                content: '';
                                position: absolute;
                                width: 0;
                                bottom: 0;
                                left: 0;
                                height: 3px;
                                background: #1a1a1a;
                                transition: all 0.3s;
                            }
                            &:hover{
                                &::after{
                                    width: 100%;
                                }
                            }
                        }
                        &:nth-child(1){
                            a{
                                color:rgb(196, 30, 32);
                            }
                        }
                        &:nth-child(2){
                            a{
                                color: #183582;
                            }
                        }
                        .sub{
                            position: absolute;
                            display: none;
                            z-index: 5;                        
                            top: 90px;
                            left: 0;
                            background: #fff;
                            padding: 50px 0 60px 0;
                            width: 100%;
                            transition: all 0.1s;
                            .container{
                                width: 100%;
                                max-width: 1330px;
                                margin: 0 auto;
                                display: flex;
                                .col1,.col2{
                                    width: 180px;
                                    font-size: 14px;
                                    >li{
                                        width: 100%;
                                        padding: 8px 0;
                                        >a{
                                            height: 100%;
                                            display:inline-flex;
                                            position: relative;
                                            color: #1a1a1a;
                                            letter-spacing: -0.6px;
                                            z-index: 1;
                                            &.review{
                                                margin:0 0 20px 0;
                                            }
                                            &::after{
                                                content: '';
                                                position: absolute;
                                                z-index: 1;
                                                top: 3px;
                                                right: -1px;
                                                width: 7px;
                                                height: 7px;
                                                background: #c41e20;
                                                border-radius: 50%;
                                                opacity: 0;
                                                transition: all 0.3s;
                                            }
                                            &:hover{
                                                &::after{
                                                    top: -3px;
                                                    right: -11px;
                                                    opacity: 1;
                                                }
                                            }
                                        }
                                    }
                                }
                                .col2{
                                    padding: 0 0 0 40px;
                                    border-left: 1px solid #e5e5e5;
                                    li{
                                        a{
                                            color: #808080;
                                            &:hover{
                                                color: #1a1a1a;
                                            }
                                        }
                                    }
                                  
                                }
                                .col3{
                                    display: flex;
                                    width: 100%;
                                    justify-content: flex-end;
                                    li{
                                       margin: 0 10px;
                                        a{
                                            position: relative;
                                            display: block;
                                            width: 100%;
                                            height: 100%;
                                            .bg8-box{
                                                width: 100%;
                                                height: 100%;
                                                position: relative;
                                                z-index: 2;
                                                img{
                                                    width: 200px;
                                                    height: 296px;
                                                }
                                                &::after{
                                                    content: '';
                                                    width: 100%;
                                                    height: 100%;
                                                    top: 0;
                                                    left: 0;
                                                    position: absolute;
                                                    display: block;
                                                    z-index: 3;
                                                    background-color: rgba(0,0,0,0);
                                                    transition: all 0.5s;
                                                }
                                            }
                                            .txt-box{
                                                width: 100%;
                                                position: absolute;
                                                z-index: 3;
                                                top: 50%;
                                                left: 0;
                                                text-align: center;
                                                color: transparent;
                                                padding: 0 15px;
                                                margin: -20px 0 0 0;
                                                h3{
                                                    overflow: hidden;
                                                    text-overflow: ellipsis;
                                                    white-space: nowrap;
                                                    font-size: 14px;
                                                    line-height: 22px;
                                                    padding: 0 0 5px 0;
                                                   
                                                }
                                                h4{
                                                    font-size: 14px;
                                                    line-height: 18px;
                                                    &.pr{
                                                        text-decoration: line-through;
                                                        font-size: 13px;
                                                        
                                                    }
                                                }

                                            }
                                            &:hover{
                                                .txt-box{
                                                    color: #fff;
                                                }
                                                .bg8-box{
                                                    &::after{
                                                        background-color: rgba(0,0,0,0.3);
                                                    }
                                                   
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            &.sub5{
                                .container{
                                    .col2{
                                        margin: 80px 0 0 40px; 
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .right{
                width: 400px;
                height: 100%;
                padding: 0 0 0 180px;
                >ul{
                    display: flex;
                    height: 100%;
                    >li{
                        width: 100%;
                        height: 100%;
                        margin: 0 0 0 32px;
                        position: relative;
                        >a{
                            height: 100%;
                            display: flex;
                            align-items: center;
                            .img{
                                width: 28px;
                                height: 30px;
                                position: relative;
                                z-index: 1;
                            }
                        }
                        &:nth-child(1){
                            a{
                                .img{background: url(../img/header/mypage_wht.png) no-repeat 50% 50%;}
                            }
                        }
                        &:nth-child(2){
                            a{
                                .img{background: url(../img/header/searchwht.png) no-repeat 50% 50%;}
                            }
                        }
                        &:nth-child(3){
                            a{
                                .img{background: url(../img/header/heartwht.png) no-repeat 50% 50%;}
                            }
                        }
                        &:nth-child(4){
                            a{
                                .img{background: url(../img/header/cart_wht.png) no-repeat 50% 50%;}
                            }
                        }
                        .login-sub{
                            position: absolute;
                            background: #fff;
                            display: none;
                            z-index: 5;
                            top: 90px;
                            left: 50%;
                            margin: 0 0 0 -40px;
                            width: 90px;
                            ul{
                                width: 100%;
                                padding: 5px 0;
                                border-right: 1px solid #e3e3e3;
                                border-left: 1px solid #e3e3e3;
                                border-bottom: 1px solid #e3e3e3;
                                li{
                                    width: 100%;
                                    height: 30px;
                                    a{
                                        width: 100%;
                                        height: 100%;
                                        display: flex;
                                       justify-content: center;
                                       align-items: center;
                                       color: #555;
                                       font-size: 13px;
                                       &:hover{
                                        color: #000;
                                       }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &:hover,&.on{
        background: #fff;
        border-bottom: 1px solid #e5e5e5;
        .container{
            .gap{
                .left{
                    .logo{
                        a{
                            img{
                                display: none;
                            }
                            background: url(../img/header/logo_red.png) no-repeat 50% 50%;
                            background-size: cover;
                        }
                    }
                }
                .center{
                    >ul{
                        >li{
                            >a{
                                color: #353535;
                            }
                            &:nth-child(1){
                                a{
                                    color:rgb(196, 30, 32);
                                }
                            }
                            &:nth-child(2){
                                a{
                                    color: #183582;
                                }
                            }
                        }
                    }
                }
                .right{
                    >ul{
                        >li{
                            &:nth-child(1){
                                a{
                                    .img{background: url(../img/header/mypage_blk.png) no-repeat 50% 50%;}
                                }
                            }
                            &:nth-child(2){
                                a{
                                    .img{background: url(../img/header/searchblk.png) no-repeat 50% 50%;}
                                }
                            }
                            &:nth-child(3){
                                a{
                                    .img{background: url(../img/header/heartblk.png) no-repeat 50% 50%;}
                                }
                            }
                            &:nth-child(4){
                                a{
                                    .img{background: url(../img/header/cart_blk.png) no-repeat 50% 50%;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.up{
        &::after{
            content: '';
            position: absolute;
            top: auto;
            z-index: -1;
            left: 0;
            width: 100%;
            height: 10000px;
            background-color: rgba(0,0,0,0.3);
        }
    }
    }
}