#signUp{
    width: 100%;
    .container{
        width: 100%;
        .gap{
            width: 100%;
            .up{
                width: 100%;
                height: 90px;
                border-bottom: 2px solid #333;
                h2{
                    width: 800px;
                    margin: 0 auto;
                    color: #333;
                    font-family: verdana;
                    font-size: 28px;
                    font-weight: bold;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    
                }
            }
            .bottom{
                width: 100%;
                max-width: 800px;
                margin: 0 auto;
                padding: 25px 0;
                .title{
                    width: 100%;
                    h3{
                        color: #333;
                        font-size: 26px;
                        font-weight: 500;
                        line-height: 30px;
                        letter-spacing: -0.6px;
                    }
                }
                form{
                    width: 100%;
                    .sub-tit{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        border-bottom:1px solid #333;
                        padding: 30px 0 5px 0;
                        h4{
                            color: #333;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 20px;
                            padding: 0 0 0 20px;
                            background: url(../img/main/ir_bl.gif) no-repeat 3% 55%;
                        }
                        p{
                            color: #666;
                            font-size: 14px;
                            span{
                                color: #d63142;
                                font-size: 24px;
                                font-family: 'gulim';
                            }
                        }
                    }
                    .info,.sns{
                        width: 100%;
                        background: #f0f0f0;
                        padding: 15px;
                        margin: 15px 0 0 0;
                        p{
                            font-size: 14px;
                            color: #666;
                            line-height: 25px;
                            padding: 3px 0;
                        }
                    }
                    table{
                        width: 100%;
                        border-collapse: collapse;
                        tbody{
                            width: 100%;
                            tr{
                                width: 100%;
                                border-bottom:1px solid #ddd ;
                                th{
                                    width: 200px;
                                    padding: 10px 0 10px 20px;
                                    text-align: start;
                                    background: #fff;
                                    color: #000;
                                    font-size: 14px;
                                    font-weight: 400;
                                    letter-spacing: 1px;
                                    border-right: 1px solid #ddd;
                                    span{
                                        color: #d63142;
                                        font-size: 24px;
                                        font-family: 'gulim';
                                        margin: 0 0 0 5px;
                                    }
                                }
                                td{
                                    width: 600px;
                                    padding: 10px 0 10px 30px;
                                    input[type="text"]{
                                        width: 300px;
                                        height: 35px;
                                        padding: 0 15px;
                                        border: 0;
                                        border-bottom: 1px solid #ddd;
                                        outline: 0;
                                    }
                                    input[type="radio"]{
                                        width: 20px;
                                        height: 20px;   
                                        margin: 0 10px 0 30px;
                                        label{
                                            display: block;
                                           
                                        }
                                    }
                                    select{
                                        height: 30px;
                                    }
                                    .warn{
                                        color: #999;
                                        font-size: 12px;
                                        line-height: 20px;
                                        padding: 5px 0 0 0;
                                    }
                                    button{
                                        width: 130px;
                                        margin: 0 0 0 15px;
                                        height: 37px;
                                        background: #333;
                                        border: 0;
                                        color: #fff;
                                        font-size: 14px;
                                        border-radius:3px ;
                                    }
                                    &.email{
                                        input{
                                            width: 150px;
                                        }
                                        select{
                                            width: 120px;
                                            border: 1px solid #ddd;
                                            height: 35px;
                                            margin: 0 0 0 15px;
                                        }
                                    }
                                    &.birth{
                                        input{
                                            width: 120px;
                                        }
                                        select{
                                            width: 120px;
                                            border: 1px solid #ddd;
                                            height: 35px;
                                            margin: 0 0 0 15px;
                                        }
                                        span{
                                            margin: 0 10px;
                                        }
                                    }
                                    &.hp{
                                        input{
                                            width: 120px;
                                        }
                                        select{
                                            width: 120px;
                                            border: 1px solid #ddd;
                                            height: 35px;
                                            margin: 0 0 0 15px;
                                        }
                                        span{
                                            margin: 0 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .btn-box{
                        width: 100%;
                        text-align: center;
                        padding: 30px 0;
                        button{
                            width: 200px;
                            height: 48px;
                            color: #333;
                            font-size: 16px;
                            font-weight: 600;
                            background: #fff;
                            border: 1px solid #333;
                            margin: 0 10px;
                            &:last-child{
                                background: #333;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}   